@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  :root {
    --background: 0 0% 98%; /* zinc-50 */
    --foreground: 240 10% 4%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 240 5% 65%;
  }

  .dark {
    --background: 240 10% 4%; /* zinc-950 */
    --foreground: 0 0% 98%;
    --card: 240 5% 10%; /* zinc-900 */
    --card-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 240 4% 16%;
  }
}

@layer base {
  * {
    @apply border-[--border];
  }
  body {
    @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))] antialiased transition-colors duration-300;
  }
}
